
.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.headtext__cormorant {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-size: 64px;
    line-height: 83.2px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
}
.p__opensans {
    font-family: var(--font-alt);
    color: var(--color-white);
    font-weight: 400;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 28px;
    font-size: 16px;
}
@media screen and (min-width: 2000px) {
    .p__cormorant {
        font-size: 37px;
        line-height: 67px;
    }
    .headtext__cormorant {
        font-size: 150px;
        line-height: 210px;
    }
    .p__opensans {
        font-size: 30px;
        line-height: 50px;
    }
}

@media screen and (max-width: 450px) {
    .headtext__cormorant {
        font-size: 45px;
        line-height: 70px;
    }
    .p__opensans {
        font-size: 12px;
    }
}

.gallery {
    flex-direction: row;
    padding: 4rem 0 4rem 6rem;
}

.gallery-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    min-width: 500px;
    padding-right: 2rem;
}

.gallery-content button {
    margin-top: 1rem;
}

.gallery-images {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 40%;
    position: relative;
}

.gallery-images_container {
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;  
}

.gallery-images_container::-webkit-scrollbar {
    display: none;
}

.gallery-images_card {
    position: relative;
    min-width: 301px;
    height: 447px;
    margin-right: 2rem;
}

.gallery__image-icon {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    opacity: 0;
    transition: .5s ease;
    cursor: pointer;
}

.gallery-images_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}

.gallery-images_card:hover img {
    opacity: .35;
}

.gallery-images_card:hover .gallery__image-icon {
    opacity: 1;
}

.gallery-images_arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 0rem;
    position: absolute;
    bottom: 5%;
}

.gallery__arrow-icon {
    color: var(--color-white);
    font-size: 2rem;
    cursor: pointer;
    margin-left: 150px;
    background: var(--color-gray);
    border-radius: 5px;
}
.right{
  margin-right: 150px;
}

.gallery__arrow-icon:hover {
    color: var(--color-white);
}

@media screen and (min-width: 2000px) {
    .gallery-content button {
        margin-top: 2rem;
    }

    .gallery-content {
        min-width: 1000px;
        padding-right: 4rem;
    }

    .gallery-images_card {
        min-width: 400px;
        height: 547px;
    }
}

@media screen and (max-width: 1150px) {
    .gallery {
        flex-direction: column;
    }

    .gallery-images {
        max-width: 100%;
        margin: 5rem 0;
    }
}

@media screen and (max-width: 850px) {
    .gallery {
        padding: 4rem 0 4rem 4rem;
    }
}

@media screen and (max-width: 650px) {
    .gallery {
        padding: 4rem 0 4rem 2rem;
    }  
    
    .gallery-content {
        min-width: 100%;
    }

    .gallery-images_card {
        min-width: 240px;
        height: 320px;
    }
}

.banner {
  background-image: url("../../images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #c72022;
}

.banner > h1 {
  margin: 5vmax 0 5vmax 50vmax;
  text-shadow: 3px 3px var(--color-golden);
  background: var(--color-gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 600 2.5vmax "Roboto";
}

.banner > p {
  margin: 0 0 0 50vmax;
  font: 300 1.4vmax "Lucida Sans";
  text-shadow: 1.5px 1.5px #e6ebe6;
  background: var(--color-gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}

.banner > a > button {
  margin: 0 0 5vmax 50vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  color: #243f14;
  font-weight: bold;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: var(--color-white);
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  max-width: 100%;
}

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 3vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  color: var(--color-golden);
  text-shadow: 2px 2px #979797;
  padding: 1vmax; 
  margin: 5vmax auto;
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  border-radius: 10px;
  margin: 2vmax;
  transition: all 0.5s;
  padding: 0.5vmax;
  background-color: rgb(255, 255, 255);
}

.productCard > img {
  width: 14vmax;
  height: 14vmax;
  border-radius: 15px 15px 0 0;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}
.productCard > p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
  color: var(--color-golden);
  font-weight: bold;
}

.productCard > span {
  margin: 0.5vmax;
  color: #c72022;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
  text-align: center;
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

  transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
    color: #243f14;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}
